@charset "utf-8";

body{
    background-color: #E1E5EE;
}
header{
    background-color: #099f96;
    margin:-16px -7px;
    padding: 5px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.4);
    position: relative;
}

nav{
    position: absolute;
    top: 10pt;
    right: 10pt;
}
nav li{
    display: inline;
    margin-left: 10px;
    font-size: 120%;
}

inframe{
    box-shadow: 2px 2px 2px rgba(0,0,0,.4);;
}

nav li:hover{
    cursor: pointer;
    color:white;
    text-decoration: underline;
    font-size: 130%;
    transition: 1s;
}

h1{
    color:black;
    text-align: center;
}

p{
    color:black;
}
