/*
fonte #0e1116


#34dfb9
#6413f8
#ADD
*/

:root{
    --cor-texto-menu-nav: white;
    --cor-texto: #0e1116;
}

*{
    margin: 0;
    padding: 0;
    color: var(--cor-texto);
}

html,body{
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 100vh;
    background-color: #ADD;
}

/*secao apresentacao*/
.secao-apresentacao{
    background-color: #ADD;
    display: flex;
}

.area-foto-perfil{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.area-apresentacao{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.area-apresentacao h2{
    text-align: center;
}

.area-apresentacao div > p{
    margin: 5px;
    text-align: justify;
    font-family: roboto;
    text-indent: 30px;
    font-size: 18px;
}

.foto-perfil{
    width: 400px;
    height: 400px;
    background-color: #0e1116;
    border-radius: 100%;
    box-shadow: 4px 4px 10px black;
}

