.menu-navegacao{
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(190deg,#6413f8,#34dfb9);
}

.menu-navegacao > ul {
    display: inherit;
    list-style: none;
}

.menu-navegacao ul > li{
    padding: 15px;
    font-size: 20px;
}

.menu-navegacao a{
    text-decoration: none;
    color: var(--cor-texto-menu-nav);
}

.menu-navegacao a:hover{
    color: var(--cor-texto);
}