/*Rodape*/
.rodape-pagina{
    margin-top: auto;
    bottom: 10px;
    display: flex;
    background-color: #0a66c2;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.area-info-rodape{
    margin: 0 auto;
}

.rodape-pagina a{
    text-decoration: none;
}

.icone-rodape{
    font-size: 28px;
    margin-right: 10px;
}

.icone-rodape:hover{
    color: #add;
}